.frontier {
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.frontier__inner {
    padding-block: 116px;
    color: #fff;
    display: grid;
    justify-content: end;

}

.frontier__content {
    max-width: 650px;
    width: 100%;
}

.title {

}

.text-content {

}