---

import './frontier.css'
---

<section class="frontier" style="background-image: url('./images/black-scooter.webp');">
    <div class="container frontier__inner">
        <div class="frontier__content">
            <h2 class="title">The Next Frontier</h2>
            <div class="text-content">
                <p>Cras facilisis nec tellus sed iaculis. Aliquam et ornare metus. Curabitur hendrerit
                    rhoncus metus, tempor laoreet elit accumsan sit amet.</p>
            </div>
        </div>
    </div>
</sectiion>