---
import Logo from "../Logo/Logo.astro";


---

<footer class="footer">
    <div class="container">
        <Logo width="175" height="78"/>
        <ul class="footer-menu">
            <li>
                <a href="" class="footer-menu__link">About us</a>
            </li>
            <li>
                <a href="" class="footer-menu__link">Portfolio</a>
            </li>
            <li>
                <a href="" class="footer-menu__link">Team</a>
            </li>
            <li>
                <a href="" class="footer-menu__link">Blog</a>
            </li>
            <li>
                <a href="" class="footer-menu__link">Contact us</a>
            </li>
        </ul>
        <address class="address">
            <ul class="address-list">
                <li>
                    <a class="address-list__link" href="">2307 Beverley Rd Brooklyn, New York 11226 USA</a>
                    <a class="address-list__link" href="tel:(002)01061245741">(002) 01061245741</a>
                </li>
            </ul>
        </address>
        <div class="copy">© 2024 Rafting - WordPress Theme by Heaven WP</div>
    </div>
</footer>