---
import './subscribe.css';
---

<section class="subscribe">
    <div class="container subscribe__inner">
        <div class="subscribe__text">
            <p>Join the Movement. Located in more than
100 cities worldwide.</p>
        </div>
        <form action="" class="subscribe-form">
            <label for="email" class="sr-only">Enter your email</label>
            <div class="subscribe-form__row">
                <input type="email" name="email" id="email" class="subscribe-form__input" required>
                <button type="button" class="subscribe-form__btn" title="Submit"></button>
            </div>
        </form>
    </div>
</section>