---
import './faq.css';
---

<section class="faq">
    <div class="container faq__inner">
        <img src="/images/faq-img.webp" width="625" height="510" loading="lazy" alt="front view scooter">
        <ul class="faq-list">
            <li>
                <details class="faq-card" open>
                    <summary class="faq-card__head">
                        <h3 class="faq-card__title">What’s the minimum age limit?</h3>
                    </summary>
                    <div class="text-content faq-card__content">
                        <p>It is a long established fact that a reader will be distracted
                        by the readable when looking at its layout.</p>
                    </div>
                </details>
            </li>
             <li>
                <details class="faq-card">
                    <summary class="faq-card__head">
                        <h3 class="faq-card__title">What’s the minimum age limit?</h3>
                    </summary>
                    <div class="text-content faq-card__content">
                        <p>It is a long established fact that a reader will be distracted
                        by the readable when looking at its layout.</p>
                    </div>
                </details>
            </li>
            <li>
                <details class="faq-card">
                    <summary class="faq-card__head">
                        <h3 class="faq-card__title">What’s the minimum age limit?</h3>
                    </summary>
                    <div class="text-content faq-card__content">
                        <p>It is a long established fact that a reader will be distracted
                        by the readable when looking at its layout.</p>
                    </div>
                </details>
            </li>
            <li>
                <details class="faq-card">
                    <summary class="faq-card__head">
                        <h3 class="faq-card__title">What’s the minimum age limit?</h3>
                    </summary>
                    <div class="text-content faq-card__content">
                        <p>It is a long established fact that a reader will be distracted
                        by the readable when looking at its layout.</p>
                    </div>
                </details>
            </li>
        </ul>
    </div>
</section>