---

import './scooter.css';
---

<section class="scooter">
    <div class="container">
        <h2 class="sr-only">Scooter</h2>
        <div class="scooter-grid">
            <div class="sidebar">
                <article class="scooter-card text-center">
                    <h3 class="scooter-card__title">
                        Back Tire
                    </h3>
                    <div class="text-content">
                        <p>Lorem Ipsum proin gravida
                            nibh velter auctor.</p>
                    </div>
                    <img width="112px" height="112px" loading="lazy" src="/images/scooter_part_1.webp" alt="scooter_part_1">
                </article>

                <article class="scooter-card text-center">
                    <h3 class="scooter-card__title">
                        Handle
                    </h3>
                    <div class="text-content">
                        <p>Lorem Ipsum proin gravida
                            nibh velter auctor.</p>
                    </div>
                    <img width="112px" height="112px" loading="lazy" src="/images/scooter_part_2.webp" alt="scooter_part_2">
                </article>
            </div>
            <div class="scooter-wrapper">
                <span class="tooltip tooltip-handle" data-tooltip="Handle">+</span>
                <span class="tooltip tooltip-back-tire" data-tooltip="Back Tire">+</span>
                <span class="tooltip tooltip-deck" data-tooltip="Deck">+</span>
                <span class="tooltip tooltip-front-tire" data-tooltip="Front Tire">+</span>
                <img width="640px" height="670px" loading="lazy" src="/images/scooter_full.webp" alt="full scooter pic">
            </div>
            <div class="sidebar">
                <article class="scooter-card text-center">
                    <h3 class="scooter-card__title">
                        Deck
                    </h3>
                    <div class="text-content">
                        <p>Lorem Ipsum proin gravida
                            nibh velter auctor.</p>
                    </div>
                    <img width="112px" height="112px" loading="lazy" src="/images/scooter_part_3.webp" alt="scooter_part_1">
                </article>

                <article class="scooter-card text-center">
                    <h3 class="scooter-card__title">
                        Front Tire
                    </h3>
                    <div class="text-content">
                        <p>Lorem Ipsum proin gravida
                            nibh velter auctor.</p>
                    </div>
                    <img width="112px" height="112px" loading="lazy" src="/images/scooter_part_4.webp" alt="scooter_part_2">
                </article>
            </div>
        </div>
    </div>
</section>