---
import './design.css';
---

<section class="design" style="background-image: url(./images/design-bg.webp) ;">
    <div class="container design__inner text text-center">
        <div class="design__content">
            <h2 class="design__title">Kick’s<br>
        Scooter</h2>
        <div class="text-content">
            <p>Designed in a minimal yet versatile form to solve<br>
the current safety and usability problems.</p>
        </div>
        </div>
    </div>
</section>