---
import './enjoy.css';
---

<section class="enjoy" style="background-image: url(./images/electric-scooter.webp);">
    <div class="container">
        
        <h2 class="title enjoy__title text-center">Enjoying the ride</h2>
        <div class="text-content enjoy__text text-center">
            <p>The Future of Electric Scooters</p>
        </div>
        <ul class="enjoy-list">
            <li>
                <div class="enjoy-card  enjoy-card--icon-bike">
                    <h3 class="enjoy-card__title text-center">Find a Bike</h3>
                    <div class="text-content text-center enjoy-card__text">
                        <p>Lorem Ipsum proin gravida 
                            nibh velter auctor.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="enjoy-card enjoy-card--white enjoy-card--icon-helmet">
                    <h3 class="enjoy-card__title text-center">Put a Helmet</h3>
                    <div class="text-content text-center enjoy-card__text">
                        <p>Lorem Ipsum proin gravida
                            nibh velter auctor.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="enjoy-card enjoy-card--icon-park">
                    <h3 class="enjoy-card__title text-center">Park & Lock</h3>
                    <div class="text-content text-center enjoy-card__text">
                        <p>Lorem Ipsum proin gravida
                            nibh velter auctor.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</sectiion>