---

import './eco.css';
---

<section class="eco">
    <div class="container eco__inner">
        <div class="eco__content">
            <h2 class="title eco__title">ECO & affordable</h2>
            <div class="text-content eco__text">
                <p>Etiam felis neque, mattis id fermentum sed, porta at diam. Integer
                ultrices imperdiet nisi, accumsan porttitor augue rhoncus vitae.
                Mauris tempor volutpat aliquet. Phasellus lectus erat, eleifend volu
                nibh sed, fringilla consequat urna.</p>
                <p>Accumsan porttitor augue rhoncus vitae. Mauris tempor volu aliquet.
                Phasellus lectus erat, eleifend volunibh sed, fringilla consequat urna.</p>
            </div>
            <a href="#" class="eco__link">Read Story</a>
        </div>
        <div class="eco__image-wrap">
            <img src="/images/eco-girl.webp" alt="girl with scooter" width="425" height="510" class="eco__img" loading="lazy">
            <div class="eco-box">
                <span>35+</span>
                <p>years of experience</p>
            </div>
        </div>
    </div>
</section>