---
import Amazing from '../components/Home/Amazing/Amazing.astro';
import Blog from '../components/Home/Blog/Blog.astro';
import Design from '../components/Home/Design/Design.astro';
import Eco from '../components/Home/Eco/Eco.astro';
import Enjoy from '../components/Home/Enjoy/Enjoy.astro';
import Faq from '../components/Home/Faq/Faq.astro';
import Frontier from '../components/Home/Frontier/Frontier.astro';
import Hero from '../components/Home/Hero/Hero.astro';
import Promo from '../components/Home/Promo/Promo.astro';
import ScooterT1 from '../components/Home/Scooter-T1/Scooter-T1.astro';
import Scooter from '../components/Home/Scooter/Scooter.astro';
import Subscribe from '../components/Home/Subscribe/Subscribe.astro';
import Testimonials from '../components/Home/Testimonials/Testimonials.astro';
import Layout from '../layouts/Layout.astro';

import './../style.css';
---

<Layout>
	<main>
		<Hero />
		<Amazing />
		<Frontier />
		<Enjoy />
		<Scooter />
		<Promo />
		<Eco />
		<Faq />
		<Design />
		<Testimonials />
		<ScooterT1 />
		<Blog />
		<Subscribe />
	</main>
</Layout>
