---
import './scooter-t1.css';
---

<section class="scooter-t1" style="background-image: url('/images/scooter-t1.webp')">
    <div class="container scooter-t1__inner">
        <div class="scooter-t1__box">
            <div class="scooter-t1__content">
            <h2 class="title scooter-t1__title">Scooter T1</h2>
            <div class="text-content scooter-t1__text">
                <p>Aliquam molestie pharetra ex, maximus lobortis
Aenean at Proin rutrum ligula aliquam</p>
            </div>
            <ul class="scooter-t1-features">
                <li class="scooter-t1-features__item">Silver Color</li>
                <li class="scooter-t1-features__item">Battery saver</li>
                <li class="scooter-t1-features__item">Deck Space</li>
            </ul>
            <button class="scooter-t1__btn">order now</button>
            </div>
        </div>
    </div>
</section>