.scooter-t1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.scooter-t1__inner {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 550px;
    max-height: 920px;
    padding-inline: 115px;
    
}
.scooter-t1__box {
    background-color: #fff;
    padding: 60px 100px;
    max-width: 565px;
    max-height: 650px;
}
.scooter-t1__content {
    display: grid;
    gap: 20px;
}


.scooter-t1__btn {
    display: block;
    width: fit-content;
    font-size: 18px;
    line-height: 1;
    padding: 25px 60px;
    background-color: var(--c-black);
    color: #fff;
    max-width: 185px;
}

.scooter-t1-features__item {
    display: flex;
    gap: 20px;
    align-items:center;
    font-size: 36px;
    line-height: 2;
}

.scooter-t1-features__item::before {
    content: '';
    min-width: 30px;
    height: 30px;
    mask-image: var(--icon-check);
    mask-size:contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--c-black);
}

.scooter-t1__text {
    max-width: 355px;
}