---

import './promo.css'
---

<section class="promo"  style="background-image: url('/images/promo-bg.webp');">
    <div class="container promo__inner">
        <div 
            class="promo-box" 
            style="background-image: url('/images/promo-scooter.webp');"
        >
            <div class="promo__content">
            <h2 class="title promo__title">KickScooter s1</h2>
            <div class="text-content promo__text">
                <p>Aliquam molestie pharetra ex, maximus lobortis metus varius sed. 
                Aenean at Proin rutrum ligula in ultrices aliquam</p>
            </div>
            <ul class="promo-features">
                <li class="promo-features__item">Semi-auto Pilot</li>
                <li class="promo-features__item">Segway System</li>
                <li class="promo-features__item">Two-way Charging</li>
                <li class="promo-features__item">Low Operation</li>
            </ul>
            </div>
        </div>

        <button class="promo-play" type="button" title="Play promo video">
            <span class="sr-only"></span>
        </button>
    </div>
</section>