---

import './amazing.css'
---

<section class="amazing">
    <div class="container amazing__inner">
        <div class="amazing-intro">
            <h2 class="title">Amazing<br>Look`s</h2>
            <div class="amazing__text text-content">
                <p>
                    It is a long established fact that a reader
                    be distracted by the readable content of a
                    when looking at its layout.
                </p>
            </div>
            <div class="amazing__images">
                <img src="/images/amazing_1.webp" alt="scooter picture" width="130" height="130" loading="lazy">
                <img src="/images/amazing_2.webp" alt="scooter picture" width="130" height="130" loading="lazy">
            </div>
        </div>
        <img src="/images/amazing_3.webp" alt="scooter picture" width="430" height="490" loading="lazy">
        <img src="/images/amazing_4.webp" alt="scooter picture" width="430" height="490" loading="lazy">        
    </div>
</section>